
.menu-card{
    width: 113px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px;
    margin-bottom: 16px;
}

.menu-card > img{
    width: 100%;
}

.content{
    padding: 12px;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart{
    background-color: var(--tomaato);
    color: #fff;
    padding: 4px 5px 2px 5px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.content > h4, .content > p, .content > div{
    margin-bottom: 8px;
}

@media screen and (min-width: 350px) {
    .menu-card{
        width: 163px;
        border-radius: 8px;
        overflow: hidden;
    }

    .menu-card > img{
        width: 100%;
        height: 123px;
    }

    .content{
        padding: 12px;
    }
}