
.menu-card{
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px;
}

.menu-card > img{
    width: 100%;
}

.content{
    padding: 12px;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart{
    background-color: var(--tomaato);
    color: #fff;
    padding: 4px 5px 2px 5px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.content > h4, .content > p, .content > div{
    margin-bottom: 8px;
}