
.new-item{
    text-align: right;
    margin-bottom: 17px;
}

.new-item > .link, .save-btn, .cancel-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
}

.new-item > .link:hover{
    border: 1px solid #26C58A;
    color: #26C58A;
}