
.new-cuisine{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 50% !important;
    border-radius: 6px;
}

.fg{
    margin-bottom: 25px;
}

.fg > input, .fg > textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 7px;
    margin-top: 10px;
    outline: none;
}

.save-btn{
    padding: 15px;
    width: 90px;
    background-color: #26C58A !important;
    color: #fff;
    margin-right: 20px;
}

.cancel-btn{
    padding: 15px;
}

.err{
    color: tomato;
    margin-bottom: 15px;
}

.success{
    color: #26C58A;
    margin-bottom: 15px;
}

@media screen and (max-width: 763px) {
    .new-cuisine{
        width: 70% !important;
        margin: auto;
        padding: 40px 40px !important;
    }
}

@media screen and (max-width: 428px) {
    .new-cuisine{
        width: 90% !important;
    }
}