
.primary-btn, .secondary-btn{
    background-color: var(--tomaato);
    color: #fff;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 22px;
    border: none;
    outline: none;
    cursor: pointer;
}

.secondary-btn{
    background-color: #fff;
    color: black;
    border: 1px solid var(--tomaato);
}

/*****************
* HEADER
******************/
#header{
    background-color: var(--tomaato);
    min-height: 659px;
    padding: 52px 16px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.subtext{
    margin-top: 8px;
    margin-bottom: 18px;
}

.search-input-container{
    background-color: #fff;
    padding: 17px;
    border-radius: 6px;
    margin-top: 8px;
}

.search-input-container > input{
    border: none;
    outline: none;
}

.search-input-container > input::placeholder{
    color: #B5B5BD;
}

.search-icon{
    color: #B5B5BD;
    vertical-align: middle;
    margin-right: 12px;
    font-size: 19px;
}

.header-dish{
    width: 251px;
    height: 251px;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* border-radius: 50%; */
}

.header-vector1{
    position: absolute;
    top: 0;
    left: 0;
}

.header-vector2{
    position: absolute;
    bottom: 0;
    right: 0;
}


/*****************
* MENU
******************/
#menu{
    padding: 121px 16px 80px 16px;
    background-color: #FAFAFA;
}

#menu .menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;
    margin-bottom: 20px;
}




/*****************
* TESTIMONIALS
******************/
#testimonials{
    padding: 40px 16px;
    background-color: var(--pinkish);
}

.testimonials{
    margin-top: 40px;
    margin-bottom: 34px;
}

.dots .dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-right: 10px;
}

.dots .dot.active{
    background-color: var(--tomaato);
}


/*****************
* BLOG
******************/
#blog{
    padding: 80px 16px 40px 16px;
}

.blogposts{
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
}


/*****************
* FOOTER
******************/
footer{
    padding: 80px 24px 24px 24px;
    background: #FAFAFA;
}

.quick-links{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.ql-mb{
    margin-bottom: 24px;
}

.quick-links a{
    color: #666;
}

.socials{
    margin: 15px 0;
}

.facebook, .twitter, .instagram{
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
    background: #F3EEE4;
    margin-right: 24px;
    color: #666;
}

.instagram{
    background-color: #E5E5E5;
}

.arr{
    margin: 22px 26px;
}


.section-header{
    font-size: 24px;
    font-weight: 700;
}

.d-md-show{
    display: none;
}

a:hover, .nav-links a:hover, .signin-btn:hover{
    color: #FFAD14;
}

.header-cta:hover{
    background-color: #FFAD14;
}


@media screen and (min-width: 768px) {
    .d-md-none{
        display: none;
    }

    .d-md-show{
        display: initial;
    }

    #header{
        background-color: #fff;
        padding: 75px 60px;
        min-height: 50vh;
    }

    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-content > .copy > h1{
        color: #1a1a1a;
        font-size: 2em;
    }
    
    .header-content > .copy > p{
        color: #13254A;
        font-size: 1.1em;
        font-weight: 400;
        margin-top: 24px;
    }

    .header-dish{
        width: 350px;
        height: 350px;
    }

    .copy{
        padding: 30px;
    }

    .header-cta{
        width: 225px;
        margin-top: 37px;
    }

    #menu, #testimonials, #blog, footer{
        padding: 30px 70px;
    }

    #menu .menu{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 48px;
    }

    .menu-subheading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0 40px;
    }

    .section-header{
        font-size: 42px;
    }

    .blogposts{
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    #testimonials .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #testimonials .test-left{
        padding: 50px;
    }

    .testimonials{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dots{
        margin-top: 34px;
    }

    .quick-links{
        justify-content: unset;
    }

    .quick-links > div{
        margin-right: 120px;
    }

    .mb-8{
        margin-bottom: 20px;
    }

    .mt-40-lg{
        margin-top: 40px;
    }

}



@media screen and (min-width: 1250px) {
    .header-content > .copy > h1{
        font-size: 4em;
    }

    .header-dish{
        width: 550px;
        height: 550px;
    }
    
    .header-cta{
        width: 325px;
    }


    #header{
        background-color: #fff;
        padding: 75px 100px;
    }
    
    #menu, #blog{
        padding: 100px 150px 130px 150px;
    }

}


@media screen and (min-width: 1440px) {
    #menu .menu{
        grid-template-columns: repeat(4, 1fr);
    }
}