
.primary-btn, .secondary-btn{
    background-color: var(--tomaato);
    color: #fff;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 22px;
    border: none;
    outline: none;
}

.secondary-btn{
    background-color: #fff;
    color: black;
    border: 1px solid var(--tomaato);
}

/*****************
* HEADER
******************/
#header{
    background-color: var(--tomaato);
    min-height: 100vh;
    padding: 52px 16px;
    color: #fff;
    position: relative;
}

.subtext{
    margin-top: 8px;
    margin-bottom: 18px;
}

.search-input-container{
    background-color: #fff;
    padding: 17px;
    border-radius: 6px;
    margin-top: 8px;
}

.search-input-container > input{
    border: none;
    outline: none;
}

.search-input-container > input::placeholder{
    color: #B5B5BD;
}

.search-icon{
    color: #B5B5BD;
    vertical-align: middle;
    margin-right: 12px;
    font-size: 19px;
}

.header-dish{
    width: 251px;
    height: 251px;
}

.header-vector1{
    position: absolute;
    top: 0;
    left: 0;
}

.header-vector2{
    position: absolute;
    bottom: 0;
    right: 0;
}


/*****************
* MENU
******************/
#menu{
    padding: 121px 16px 80px 16px;
}

#menu .menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}




/*****************
* TESTIMONIALS
******************/
#testimonials{
    padding: 40px 16px;
    background-color: var(--pinkish);
}

.testimonials{
    margin-top: 40px;
    margin-bottom: 34px;
}

.dots .dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-right: 10px;
}

.dots .dot.active{
    background-color: var(--tomaato);
}


/*****************
* BLOG
******************/
#blog{
    padding: 80px 16px 40px 16px;
}

.blogposts{
    margin-top: 36px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*****************
* FOOTER
******************/
footer{
    padding: 80px 24px 24px 24px;
    background: #FAFAFA;
}

.quick-links{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.ql-mb{
    margin-bottom: 24px;
}

.quick-links a{
    color: #666;
}

.socials{
    margin: 15px 0;
}

.facebook, .twitter, .instagram{
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
    background: #F3EEE4;
    margin-right: 24px;
    color: #666;
}

.instagram{
    background-color: #E5E5E5;
}

.arr{
    margin: 22px 26px;
}