@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

:root{
    --tomaato: #DA3743;
    --pinkish: #F9E1E3;
    --lightPinkish: #F3EEE4;
    --lightGr: #FAFAFA;
    --darkGr: #666666;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

/*********************
* UTILS
**********************/
.d-flex{
    display: flex;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

.txt-capitalize{
    text-transform: capitalize;
}

.txt-tomato{
    color: var(--tomaato);
}

.txt-dark{
    color: var(--darkGr);
}

.mb-8{
    margin-bottom: 8px;
}

.fs-14{
    font-size: 14px;
}

.fs-28{
    font-size: 28px;
}

.fs-12{
    font-size: 12px;
}

.fs-24{
    font-size: 24px;
}

.fs-10{
    font-size: 10px;
}

.fs-16{
    font-size: 16px;
}

.fs-15{
    font-size: 15px;
}

.fs-13{
    font-size: 13px;
}

.fs-35{
    font-size: 35px;
}




.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-700{
    font-weight: 700;
}

.fw-800{
    font-weight: 700;
}

.fw-200{
    font-weight: 200;
}


.vertical-align-middle{
    vertical-align: middle;
}

